//
   Created by loick on 12/05/2017.

doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if (IE 7)&!(IEMobile)
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang='en')
//if (IE 9)
  html.no-js.ie9(lang='en')
// [if gt IE 8] <!
html(lang='en-US')
    // <![endif]
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title 电影统计分析
        meta(name='description', content='Insert Your Site Description')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='HandheldFriendly', content='true')
        meta(name='MobileOptimized', content='320')
        meta(http-equiv='cleartype', content='on')
        link(href='/_include/css/bootstrap.min.css', rel='stylesheet')
        link(href='_include/css/main.css', rel='stylesheet')
        link(href='_include/css/supersized.css', rel='stylesheet')
        link(href='_include/css/supersized.shutter.css', rel='stylesheet')
        link(href='_include/css/fancybox/jquery.fancybox.css', rel='stylesheet')
        link(href='_include/css/fonts.css', rel='stylesheet')
        link(href='_include/css/shortcodes.css', rel='stylesheet')
        link(href='_include/css/bootstrap-responsive.min.css', rel='stylesheet')
        link(href='_include/css/responsive.css', rel='stylesheet')
        link(href='_include/css/supersized.css', rel='stylesheet')
        link(href='_include/css/supersized.shutter.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/ css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900', rel='stylesheet', type='text/css')
        link(rel='shortcut icon', href='#')
        link(rel='apple-touch-icon', href='#')
        link(rel='apple-touch-icon', sizes='114x114', href='#')
        link(rel='apple-touch-icon', sizes='72x72', href='#')
        link(rel='apple-touch-icon', sizes='144x144', href='#')

        script(src='css/echarts.js')
    body
        header
            .sticky-nav
                a#logo(href='/')
                    img(src='_include/img/stagelogo.jpg')
                nav#menu
                    ul#menu-nav
                        li.current
                            a(href='/') 电影全览
                        li
                            a(href='/home') 统计
                        li
                            a(href='/aboutUS') 关于我们
                        li
                            a(href='/contact') 联系

        block content

        footer
            p footer
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        // jQuery Core
        script(src='_include/js/bootstrap.min.js')
        // Bootstrap
        script(src='_include/js/supersized.3.2.7.min.js')
        // Slider
        script(src='_include/js/waypoints.js')
        // WayPoints
        script(src='_include/js/waypoints-sticky.js')
        // Waypoints for Header
        script(src='_include/js/jquery.isotope.js')
        // Isotope Filter
        script(src='_include/js/jquery.fancybox.pack.js')
        // Fancybox
        script(src='_include/js/jquery.fancybox-media.js')
        // Fancybox for Media
        script(src='_include/js/jquery.tweet.js')
        // Tweet
        script(src='_include/js/plugins.js')
        // Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi
        //script(src='_include/js/main.js')
        // Default JS
        // End Js
