extends layout/layout
block content
  .container
    .row
      h1.title Show Movies
        .flexsearch
          .flexsearch--wrapper
            form.flexsearch--form(action="#", method="post")
              .flexsearch--input-wrapper
                input.flexsearch--input(type="search", placeholder="search")
                input.flexsearch--submit(type="submit", value="➜")
    .row
      .span4
        nav#options.work-nav
          ul#filters.option-set(data-option-key='filter')
            li.span4
              a.selected(href='#filter', data-option-value='*') All Types
            li.span2
              a(href='#filter', data-option-value='.action') Action & Adventure
            li.span2
              a(href='#filter', data-option-value='.anime') Anime
            li.span2
              a(href='#filter', data-option-value='.comedy') Comedy
            li.span2
              a(href='#filter', data-option-value='.documentary') Documentary
            li.span2
              a(href='#filter', data-option-value='.drama') Drama
            li.span2
              a(href='#filter', data-option-value='.Educational') Educational
            li.span2
              a(href='#filter', data-option-value='.exercise')  Exercise & Fitness
            li.span2
              a(href='#filter', data-option-value='.faith') Faith & Spirituality
            li.span2
              a(href='#filter', data-option-value='.fantasy') Fantasy
            li.span2
              a(href='#filter', data-option-value='.foreign') Foreign Films
            li.span2
              a(href='#filter', data-option-value='.horror') Horror
            li.span2
              a(href='#filter', data-option-value='.kids') Kids & Family
            li.span2
              a(href='#filter', data-option-value='.lgbt') LGBT
      .sapn8
        section#projects
          ul#thumbs
            each item in movies
              li.item-thumbs.span2.desig.amovie
                a.hover-wrap(href='/detail/#{item.movieId}')
                img(src='#{item.imageHttp}')
                p(href='/detail/#{item.movieId}') #{item.movieName.substr(0,10)}
