//
   Created by 靖怡 on 2017/5/11.

extends layout/layout
block content
    #subject.page
        .container
            h1 逃出绝命镇
            .row
                .span3
                    a.hover-wrap.fancybox(data-fancybox-group='gallery', title='The City', href='_include/img/work/full/image-01-full.jpg')
                        span.overlay-img
                        |
                        span.overlay-img-thumb.font-icon-plus
                    // Thumb Image and Description
                    img(src='_include/img/work/thumbs/image-01.jpg', alt='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.')